/* Palette URL: http://paletton.com/#uid=14A0u0kkWlSalxnfDrbq9gEvybf */

:root {
    /*--cp0: #542E75;
    --cp1: #977BAF;
    --cp2: #7e599e;
    --cp3: #3A1559;
    --cp4: #1f0336;*/
    --cp0: #1D3657;
    --cp1: #4F6786;
    --cp2: #314B6D;
    --cp3: #0C223E;
    --cp4: #031225;
    --cp5: #acbcd1;
    --cs0: #FFB00D;
    --cs1: #FFCE69;
    --cs2: #FFC040;
    --cs3: #CC8900;
    --cs4: #A16C00;
    --cs5: #5f3f00;
    --bg: #f6f6f6;
    --text: #222;
}

.color-primary-0 { color: var(--cp0) }	/* Main Primary color */
.color-primary-1 { color: var(--cp1) }
.color-primary-2 { color: var(--cp2) }
.color-primary-3 { color: var(--cp3) }
.color-primary-4 { color: var(--cp4) }

.color-complement-0 { color: var(--cs0) }	/* Main Complement color */
.color-complement-1 { color: var(--cs1) }
.color-complement-2 { color: var(--cs2) }
.color-complement-3 { color: var(--cs3) }
.color-complement-4 { color: var(--cs4) }

body {
    background-color: var(--cp0);
    font-family: 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 0 auto;
    width: 65%;
    padding: 5px 20px 20px 20px;
    color: #222;
}

div.main-content {
    min-height: 650px;
    margin-bottom: 100px;
}

section.main-content {
    margin: 5px 10px 5px 10px;
    min-height: 120px;
}

nav.default {
    overflow: hidden;
    background-color: var(--cs0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}

nav.default a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: black;
}

nav.default a:hover {
    background: var(--cs1);
}

nav.default a.active {
    background-color: var(--cs4);
    color: white;
}

nav.default .search {
    float: right;
    display: block;
    margin-right: 30px;
}

nav.default .search input[type=text] {
    padding: 7px;
    margin-top: 8px;
    font-size: 12pt;
    border: none;
    height: 20px;
    width: 100px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

nav.default .search input[type=text]:focus {
    width: 220px;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

nav.default .search input[type=text]::placeholder {
    color: var(--cs5);
}

nav.default .search button {
    float: right;
    font-size: 12pt;
    padding: 6px 10px;
    margin: 8px 16px 0 0;
    background-color: var(--cs4);
    cursor: pointer;
    border: none;
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.centered-div {
    width: 50%;
    margin: 0 auto;
}

.gallery-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gallery-content {
    padding: 0px 0px 0px 0px;
}

.hidden {
    display: none;
}

.block-link {
    display: block;
}