main {
    min-height: $height-main;
}

.gallery {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.video-box {
    padding: 10px;
    width: 80%;
    min-width: 320px;
    max-width: 720px;
    span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 14pt;
        font-weight: 600;
        margin-bottom: 8px;
    }
    video {
        display: block;
        width: 100%;
        margin: 0 auto;
        border: 2px solid $primary-color;
        border-radius: 10px;

        &[poster] {
            object-fit: cover;
        }
    }
}

@media only screen and (min-width: 680px) {
    .gallery {
        .video-box {
            width: 30%;
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 680px) {
    .gallery {
        .video-box {
            span {
                font-size: 22pt;
            }
        }
    }
}